<div class='container'>
  <div class='drop'></div>
</div>

<h2 class="hastag"><%= @title %></h2>

<ul id="scroller">
  <% @photos.each do |url| %>
     <li><a href="<%= url %>" target="_blank"><img src="<%= url %>" /></a></li>
  <% end %>
</ul>

