<form class ="search_form" action="/search" method="post">
  <div>
    <input type = 'text' name = 'hashtag' placeholder= 'Search Instagram'>
    <input type = 'submit' value='Search' >
  </div>
</form>