<div class="panel">
	<form class="login_form" action="/login" method="POST">
	  <div>
	    <label class="loginform" for="email">Email</label>
	    <input type="text" name="email" id="email" />
	  </div>
	  <div>
	    <label class="loginform" for="password">Password</label>
	    <input type="text" name="password" id="password" />
	  </div>
	  <div class="submit">
    	<input class="submit_button" type="submit" value="Login" />
  	</div>
  	<a href="/signup">Don't have a login? Click here to sign up.</a>
	</form>
</div>

<div class="slide"><a href="#" class="pull-me">Login</a></div>

<form class="login_form" action="/logout" method="POST">
  <div class="submit">
  	<input class='logout_button' type="submit" value="Logout" />
	</div>
</form>


<div class='weather_icon'>
  <% if @weather.condition.text.include?("Storm") %>
    <image src='image/storm.svg'>
    <h1> It's worse then when it'sraining <a href="/cats"> cats </a>and <a href="/dogs"> dogs </a> </h1>
  <% elsif @weather.condition.text.include?("Snow") %>
    <image src='image/snow.svg'>
    <h1> It's worse then when it'sraining <a href="/cats"> cats </a>and <a href="/dogs"> dogs </a> </h1>
  <% elsif @weather.condition.text.include?("Sunny") %>
    <image src='image/sun.svg'>
    <h1> Enjoy it's not raining <a href="/cats"> cats </a>and <a href="/dogs"> dogs </a> </h1>
  <% elsif @weather.condition.text.include?("Clear") %>
    <image src='image/moon.svg'>
    <h1> Enjoy it's not raining <a href="/cats"> cats </a>and <a href="/dogs"> dogs </a> </h1>
  <% elsif @weather.condition.text.include?("Cloudy") %>
    <image src='image/cloud.svg'>
    <h1> Soon it will rain <a href="/cats"> cats </a>and <a href="/dogs"> dogs </a> </h1>
  <% else %>
    <image src='image/rain.svg'>
    <h1> It's raining <a href="/cats"> cats </a>and <a href="/dogs"> dogs </a> </h1>
  <%end%>
</div>

<div class = 'weather'>
  <%= @weather.title %>
  <br>
  <%= @weather.condition.text %>
</div>

<% if signed_in? %>
  <%= erb :home_page_search %>
<% end %>