<div class='weather'>
  <image src='image/rain.svg'>
</div>

<h1> It's raining <a href="/cats"> cats </a>and <a href="/dogs"> dog </a> </h1>
<!--
<div class="buttons">

    <button type="button"><a href="/dogs"> dog › </a></button>

    <button type="button"><a href="/cats"> cat › </a></button>

</div>
 -->