body {
  font-family: 'Lato', serif;
  color: black;
  font-size: x-large;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.weather {
  padding-top: 50px;
  text-align: center;
}

h1 {
  font-size: xx-large;
  text-align: center;
}
 
button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: none;
}

a {
  text-decoration:none;
  color: #08c
}

img {
  width: 350px;
  height: 350px;
}

.drop {
  position: absolute;
  left: 0px;
  top: 10px-1px;
  width: 10px;
  height: 10px;
  background: #79dbfc;
  border-radius: 0px 5px 5px 5px;
  transform: rotate(45deg);
  z-index: 10000000;
}

.fixed_width {
  display: block;
  width: 190px;
  float: left;
}

.submit {
  margin-left: 140px;
}

.error {
  color: red;
}

.first_name_error,
.last_name_error,
.email_error, 
.password_error {
  display: none;
}

form {
  padding-left: 200px;
}

.loginform {
  display: block;
  width: 130px;
  float: left;
}

p {
  margin-right:80px;
}