body {
  /*background: linear-gradient(180deg, rgb(65, 199, 217) 0%, rgb(38, 163, 191) 69%);*/
  font-family: 'Lato', serif;
  text-align: center;
  color: black;
  text-align: center;
}

h1 {
  font-size: 100px;
}

/*button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: none;
}*/

a {
  text-decoration:none;
  color: #08c
}

.photos {
  border-radius: 300px
}